%nav.cf
	%ul
		%li
			%a#home{:href => "/"} Home
		%li
			%a#Projects{:href => "/projects"} Projects
		%li
			%a#Bio{:href => "/bio"} Bio
		%li
			%a#Contact{:href => "/contact"} Contact


%body
	.bio_wrapper
		.content
			.content_header
				%h1 this works
			%h3 awesome