%nav.cf
	%ul
		%li
			%a#home{:href => "/"} Home
		%li
			%a#Projects{:href => "/projects"} Projects
		%li
			%a#Bio{:href => "/bio"} Bio
		%li
			%a#Contact{:href => "/contact"} Contact

%body
	.contact_wrapper
		.content
			.content_header
				%h1 This worked too
			%h3 As expected