%header
  .header_wrapper
    .header_title
      %p SAMUEL COLON

    .desc_wrapper 
      %ul
        %li
          .header_image
            %img{:src => '/assets/portrait.png'}
        %li
          .header_bio
            %p  Distillery fashion axe wayfarers Shoreditch heirloom banjo. Try-hard you probably haven't heard of them paleo hashtag scenester. Church-key pork belly kogi banjo. Pinterest mumblecore sustainable beard meggings whatever, distillery bitters salvia VHS chambray YOLO.
  
%body
  .project_wrapper
    .project
      .project_header
        %p#name  Featured Project
        %h1#projectName= @project.name
        / %img{:src => "assets/project_image.jpg"}
        %img= link_to (image_tag @project.image.url(:thumb)), @project
      .project_description
        %p=  @project.description