%header
  .header_wrapper
    .header_title
      %p The portfolio of Samuel Colon
    .header_image
    .header_bio
      %p  Bushwick keytar VHS four loko. Gastropub you probably haven't heard of 
    .nav_wrapper
      %ul
        %li 
          %a{:href => "/projects"} Projects
        %li 
          %a{:href => "/bio"} Bio
        %li 
          %a{:href => "/contact"}Contact  


%body
  .project_wrapper
    .project
      .project_header
        %p#name  Featured Project
        %img{:src => "assets/project_image.jpg"}
      .project_description
        %p  Post-ironic flexitarian Shoreditch, kale chips cliche butcher locavore shabby chic ennui Tumblr messenger bag plaid salvia. Fap 90's health goth hella High Life listicle, Intelligentsia gluten-free farm-to-table aesthetic try-hard. Health goth ethical photo booth taxidermy ennui. Helvetica four loko wayfarers occupy kogi synth, meh drinking vinegar.