%projects_wrapper
	%ul
		- @projects.each do |p|
			%li
				.project_tile
					.project_header
						%p#name= p.name
						= link_to (image_tag p.image.url(:thumb)), p
						%p#category= p.category
						%p#description= p.description		