body {
	font-family: "Proxima Nova";
	font-weight: 100;
	background-color: #7DB95C;

	.header_wrapper {
		background-color: #1A4A00;
	
		.header {
			p {
				color: #AEDE94;
			}
		}

		.nav_bar_wrapper {
			margin-left: auto;
			margin-right: auto;

			.nav_bar {
				margin-left: auto;
				margin-right: auto;
			}
		}
	
		.control_panel {
			float: right;
			vertical-align: middle;
		}
	}
}

footer {
	.footer_wrapper {
		background-color: #000000;
		.footer {
			background-color: #ffffff;
			padding-top: -20px;
		}
	}
}

@import 'home.css.scss';
@import 'projects.css.scss';