
.yield_wrapper {
	
	.bio {
		color: #ffffff;
		font-family: "verdana";

	}

	.featured_project {
		background-color: #cccccc;

		.project {
		
			p {
				font-family: "Times";
			}

			h3 {
				color: #888888;
			}
		}
	}
}