// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.yield_wrapper {
	.project_tile {
		background-color: #ffffff;
		p {
		}

		img#category {
			background-color: #888888;
			float: right;
		}

	}
		
	h1 {
		@extend .header;
		color: #ffffff;
	}
}